<!-- Upload file form -->
{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h5 style="margin-top: 50px;">File Upload</h5>
    <form id="uploadForm" method="post" action="/upload" enctype="multipart/form-data" style="margin-top: 20px;">
        {% include "_upload_form.html" %}
    </form>
</div>
<!-- Scheduled trips display table -->
<div class="container">
    <h5 style="margin-top: 20px;">Scheduled Jobs</h5>

    <!-- Modal - shown when editing trip run time -->
    <div class="modal fade" id="editModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="editModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editModalTitleLabel" name="editModalTitleLabel">Edit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/" id="editForm" name="editForm">
                        {% include "_update_form.html" %}
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Table with scheduled trips -->
    <table class="table">
        <thead>
            <tr>
                <th width="70%"scope="col">Trip ID</th>
                <th width="15%"scope="col">Next run</th>
                <th width="15%" scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
            <tr>
                <th scope="row">{{ job.id }}</th>
                <td>{{ job.next_run_time.strftime('%I:%M %p') }}</td>
                <td>
                    <!-- Button trigger modal -->
                    <div class="row align-items-start">
                        <div class="col">
                            <button type="button" class="btn btn-sm btn-warning" data-bs-toggle="modal"
                                data-bs-target="#editModal" data-action="edit" data-job-id="{{ job.id }}">
                                Edit
                            </button>
                        </div>
                        <div class="col">
                            <form method="POST" action="/delete_job/{{ job.id}}">
                                <button type="submit" class="btn btn-sm btn-danger">Remove</button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            {% endfor %}
</div>

{% endblock %}